div#principal{
    display: inline-block;
    min-width: 80px;
    min-height: 80px;

    background-image: 
    url(../css/images/moldura-9-pedacos_01.png),
    url(../css/images/moldura-9-pedacos_03.jpg),
    url(../css/images/moldura-9-pedacos_07.jpg),
    url(../css/images/moldura-9-pedacos_09.jpg),
    url(../css/images/moldura-9-pedacos_02.jpg),
    url(../css/images/moldura-9-pedacos_04.jpg),
    url(../css/images/moldura-9-pedacos_06.jpg),
    url(../css/images/moldura-9-pedacos_08.jpg),
    url(../css/images/moldura-9-pedacos_05.jpg);

    background-repeat: 
    no-repeat,
    no-repeat,
    no-repeat, 
    no-repeat,
    repeat-x,
    repeat-y,
    repeat-y,
    repeat-x, 
    repeat;

    background-position-x: 
    left,
    right,
    left,
    right,
    center,
    left,
    right,
    center;

    background-position-y: 
    top,
    top,
    bottom,
    bottom,
    top,
    center,
    center,
    bottom,
    center;

    font-size: 24px;
    text-align: center;
    text-decoration: none;
    padding: 37px;
    padding-left: 38px;
    padding-right: 38px;

}
