ul{
    list-style-type: none;
}

main, h1, footer{
    text-align: center;
}

img{
    margin: 10px;
}

ul#ave,
ul#gato,
ul#inseto,
ul#marinho{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
    margin-right: 10px;
}